.App {
  text-align: center;
}
body {
	background: rgb(103,41,7);
	background: linear-gradient(90deg, rgba(103,41,7,1) 0%, rgba(153,90,18,1) 29%, rgba(246,141,15,1) 100%);
}
@font-face {
	font-family:titleFont;
	src: url('attack of the cucumbers.ttf');
}
h1 {
	font-family: titleFont;
}